@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Caveat', sans-serif;
    font-size: 1.2em;
    color: blue;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    margin: 0;
    background: beige;
}
.lines {
    width: 100vw;
}
.line { 
    border-bottom: 0.2px solid rgba(0, 0, 255, 0.288);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.names {
    display: flex;
}
.now {
    color: darkred;
}
.date {
    color: crimson;
}
.adapt {
    display: flex;
    justify-content: center;
    width: 60vw;
    gap: 2vw;
}
@media screen and (max-width: 620px) {
    .deleatable {
        display: none;
    }
    body {
        font-size: 1em;
    }
}
@media screen and (max-width: 516px) {
    body {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 412px) {
    body {
        font-size: 0.7em;
    }
}